{% extends "base.html" %}
{% block title %}Favorites{% endblock %}
{% block body %}
<h1>{{current_user.name}}'s Schedule</h1>
<form action = "http://localhost:5000/calendar" method = "GET">
    <input type = "submit" value="sync with google calendar" />
</form>

<form action = "http://localhost:5000/logout" method = "GET">
    <input type = "submit" value="logout" />
</form>
{% if favorites|length > 0 %}
    <ul>
    {% for fav in favorites  %}
        <li>
            <h3>{{ fav.readDate }}</h3>
            <h5><ul>{{ fav.description }}</ul></h5>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You haven't added any events yet.</p>
{% endif %}
{% endblock %}